.chaContainer {
  display: flex;
  justify-content: start;
  width: 100%;
  .chatTabContaner {
    width: 25%;
  }
  .dialogContent {
    // min-width: 600px;
    // min-height: 500px;
    padding: 20px;
    background-color: #f0f2f5;
    position: relative;
    overflow: hidden;
    .chatItemBox {
      min-height: 400px;
      max-height: 400px;
      overflow-y: scroll;
      .centerClick {
        display: flex;
        justify-content: center;
        cursor: pointer;
      }
      .chatItem {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 5px;
        .coloum {
          display: flex;
          justify-content: flex-start;
          .chatItemAvatar {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
          .chat-item-content {
            max-width: 420px;
            border: 1px solid #fff;
            position: relative;
            background-color: #fff;
            margin-left: 20px;
            padding: 5px;
            word-wrap: break-word;
          }
          .chat-item-content::after {
            content: '';
            border: 8px solid #ffffff00;
            border-right: 8px solid #fff;
            position: absolute;
            top: 6px;
            left: -16px;
          }
        }
        .rightcoloum {
          display: flex;
          justify-content: flex-end;
          .chatItemAvatar {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
          .chat-item-content {
            max-width: 420px;
            position: relative;
            background-color: #fff;
            margin-right: 20px;
            padding: 5px;
            word-wrap: break-word;
          }
          .chat-item-content::after {
            content: '';
            border: 8px solid #ffffff00;
            border-left: 8px solid #fff;
            position: absolute;
            top: 6px;
            right: -16px;
          }
        }
      }
    }
    .chatItemBox::-webkit-scrollbar {
      display: none;
    }
    .chatTop {
      width: 100%;
      height: 220px;
      position: relative;
      bottom: 0px;
      overflow: hidden;
      .actions {
        height: 50px;
        border: 1px solid #adadad;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          display: flex;
          justify-content: flex-start;
          .actionItem {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
              width: 80%;
              font-size: 20px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .chatListTabContainer {
    min-height: 500px;
    .TabItemBox {
      width: 100%;
      height: 63px;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      // flex-direction: column;
      margin-bottom: 10px;
      padding: 5px;
      .LeftAvatar {
        border-radius: 4px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .RightContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        .colunm {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          height: 30px;
          align-self: center;
          .nickName {
            font-size: 14px;
            font-weight: bolder;
            padding-left: 10px;
            overflow: hidden;
            height: 20px;
            width: 30%;
          }
          .newCustomer {
            background-color: #ff6600;
            width: 40px;
            height: 20px;
            color: #fff;
            line-height: 20px;
            text-align: center;
            font-size: 12px ;
            align-items: center;
            border-radius: 20px;
          }
          .createTime {
            overflow: hidden;
            height: 20px;
            align-self: end;
            // width: 150px;
          }
        }
        .msgContent {
          max-width: 350px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding-left: 10px;
          color: #adadad;
          // font-size: 12px;
        }
      }
    }
    .TabItemBox:hover {
      background-color: antiquewhite;
    }
  }
  .rightTabbox {
    // width: 30%;
    .column {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .half {
        width: 100%;
        justify-self: start;
      }
    }
  }
}
