
.chaContainer{
    display: flex;
    justify-content: start;
    .chatTabContaner{
        width: 30%;
    }
    .dialogContent{
        min-width: 600px;
        min-height: 500px;
        padding: 20px;
    }
    .chatListTabContainer{
        min-height: 500px;
    }
}
